venv/
business/news/__pycache__/
business/user/__pycache__/
business/testing/__pycache__/
business/home/__pycache__/
business/mediafiles/
business/static_in/
business/static/
business/media/
business/business/__pycache__/
business/advertisement/__pycache__/
business/users/__pycache__/
business/db.sqlite3
business/rest/__pycache__/
*.sqlite3
pyvenv.cfg
Scripts/
Include/
Lib/
/.vscode/



